:root {
    font-size: 1em;
}

.box {
    background: transparent;
    backdrop-filter: blur(10px);
}

body {
    background-size: cover;
    background-position: center;
}

.display-linebreak {
    white-space: pre-line;
}

textarea#no-resize {
    resize: none;
}

.rotate {

    transform: rotate(-90deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}